* , *:after , *:before
  box-sizing: border-box

html
  font-size: 14px

body
  font-size: 1rem
  font-family: 'Futura Book', sans-serif

img
  max-width: 100%

.section
  &--dark
    background-color: $dark
    color: $light
  &-title
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    &--left
      text-align: left
      align-items: start
    &__heading
      font-size: 1.43rem
      &--big
        font-size: 1.77rem
      &--primary
        color: $primary
    &__word
      display: flex
      align-items: center
      &::after
        content: ''
        width: 90px
        height: 1px
        margin-left: 2rem
        background-color: $primary
    &__info
      text-transform: none
      font-size: 1.08rem
      font-family: 'Footora Book' , cursive
      line-height: 2.07rem
      max-width: 31.57em
    &__text
      text-transform: none
      max-width: 52.9rem
      font-family: 'Footora Book' , cursive
      font-size: 1.2rem
      line-height: 2rem
      margin: 0
      margin-top: 1.5rem
      margin-bottom: 3.1rem
    &__image
      display: flex
      align-items: center
      justify-content: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px